.challenge-page{
    .back-to-challenge{
        margin-top: 20px;
        margin-bottom: 15px;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        .columns{
            padding: 0px;
        }
        h4{
            display: inline-block;
            color: $dark-gray;
            font-weight: $font-weight-bold;
            margin-bottom: 0px;
        }
    }
}
