//website globals
$primary-color: #2ECC71;
$background-base: #EDEFF0;

//for challenges
$challenge-easy-primary-color: #27A060;
$challenge-medium-primary-color: #2980A5;
$challenge-hard-primary-color: #D34C3C;

