.challenge-list{
    margin-top: 50px;
}

.challenge-card{
    background-color: white;
    box-shadow: $card-shadow;
    transition: 0.3s;
    margin-bottom: 40px;
}

.challenge-card:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15);
}

.challenge-head{
    color: white;
    font-weight: $font-weight-medium;
    font-size: 16px;
    padding: 15px 20px;
}

.challenge{
    background-color: white;
    padding: 20px;

    .title{
        font-weight: $font-weight-bold;
    }

    .description{
        margin-top: 10px;
        margin-bottom: 0px;
    }
}



.tags-wrapper{
    padding: 0 20px 20px 20px;

    .tags{
        border-radius: 5px;
        font-size: 12px;
        color: white;
        padding: 5px 10px;
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .tags:hover{
        //todo: something to get user know they can click this too
    }
}



.challenge-options{
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #4A4A4A;
    float: right;
    margin-top: -35px;
}

.bug {
    float: right;
    img{
        width: 23px;
    }
}


#easy{
    background-color: #28AE61;
}

#intermediate{
    background-color: #297FB8;
}

#hard{
    background-color: #E84C3D;
}

.challenge-options-card{
    position: relative;
    z-index: 9999;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: right;
    margin-top: -150px;
    margin-right: 20px;
    display: none;
}

.challenge-options-card a:hover{
    background-color: rgba(128, 128, 128, 0.1);
    color: black;
}

.challenge-options-card-el{
    display: block;
    padding: 5px 10px;
    font: normal 15px 'Roboto';
    color: black;
}
